/* #h1{

    text-align: center;

    color:blue;

    font-style:italic;

    background-color:rgb(247, 79, 13);

    position:relative;

 margin-bottom: 0%;

 position:sticky;

 top: 2%;

   

   

} */




@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&family=Ubuntu:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
  
}

/* #div1{

    height:auto;
font-family: 'Teko', sans-serif;
font-family: 'Ubuntu', sans-serif;
    width:100vw;
    background-color:  rgba(5, 52, 5,0.8);

    position:sticky;
text-align: center;
    top:0;
z-index: 1;
 

}

#div2{

    background-color:rgb(12, 48, 29);

   

    width: 100vw;
    opacity:0.8;

    position:sticky;

}

.li{

    padding-bottom: 1%;

    margin-left: 4%;

    display:grid;
}
.li a{
    text-decoration: none;
    color: whitesmoke;
    transition: color 1.2s;
  
 
}
.li a:hover{

    color: red;

} */


*{

    margin:0;

    padding:0px;

}

#h1{

    text-align: center;

    color:whitesmoke;

    font-family:'Courier New', Courier, monospace;

    background-color:rgba(29, 29, 51, 1);

    position:relative;

    margin-bottom: 0%;

    position:sticky;

    top: 2%;
    
    font-weight: 550;

}

*{

    margin:0;

    padding:0px;

}

#div1{

    height:auto;

    width:100vw;

    background-color:rgba(5,52,5,1);

    position:sticky;

    top:0;

    z-index:1;
}
#div2{
    background-image:url(excel_bg3.jpg);
   
    background-size: cover;
   background-attachment: fixed;
    background-repeat: no-repeat;
   height: 100vh;
   width: 100vw;
    /* background-color:rgb(12,48,29);

    background-image:url(excel_bg3.jpg);

    background-size: cover;

    background-position:center;

    background-attachment:fixed;

    opacity:0.8;

    position:sticky;
 height: 100vh; */
 overflow: scroll;
}
#navbarNav {
    font-size: 1.3rem;
   
 
}
#navbarNav ul li a{
    color: aliceblue;
    transition: color 1s;
}
#navbarNav ul li a:hover{
    color: red;
}
/* .li{

    padding-bottom: 1%;

    margin-left: 4%;

    display:inline;

   

}

.li a{

    text-decoration: none;

    color:whitesmoke;

    transition:color 1.2s;

    margin:1%;

    padding:1%;
display: inline;
}

.li a:hover{

    color: red;

}

.li1{

    padding-left:8%;

    color:black;

 

}

.syntax{

    color:red;

    padding-left:0.5%;

   

   

 

}

#p{

    padding-top:0%;

    padding-bottom: 3%;

}

.shortcut{

    padding-left: 3%;

    padding-top: 1%;

    color: greenyellow;

}

.sk{

    color:yellow;

}

.lk{

    color:black;

    padding-left:4%;

    font-size: 130%;

}

.h4{

    padding-bottom: 5%;

} */


#sum{

    height:0;

    width:0;

    position:fixed;

    top: 15%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;


}

 

#sum:target{

    height:65%;

    width:65%;

    top:25%;

    left:25%;

    background-color:rgb(199, 252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);
 animation:changeShape 1s ease-in-out infinite alternate;
}
@keyframes changeShape{
    from{
        border-radius:0%;
    }
    to{
        border-radius:50%;
    }
}


#average{

    height:0;

    width:0;

    position:fixed;

    top:20%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

}

 

#average:target{

    height:75%;

    width:70%;

    top:25%;

    left:20%;

    background-color:rgb(199, 252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

   

}

#if{

    height:0;

    width:0;

    position:fixed;

    top:25%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

    justify-content: space-between;

}

 

#if:target{

    height:70%;

    width:65%;

    top:25%;

    left:25%;

    background-color:rgb(199, 252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#count{

    height:0;

    width:0;

    position:fixed;

    top:30%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

 

}

 

#count:target{

    height:70%;

    width:65%;

    top:25%;

    left:25%;

    background-color:rgb(199, 252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#logical{

    height:0;

    width:0;

    position:fixed;

    top:30%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

 

}

 

#logical:target{

    height:60%;

    width:60%;

    top:25%;

    left:25%;

    background-color:rgb(199, 252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#is{

    height:0;

    width:0;

    position:fixed;

    top:30%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

 

}

 

#is:target{

    height:50%;

    width:50%;

    top:25%;

    left:25%;

    background-color:rgb(199, 252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#max-min{

    height:0;

    width:0;

    position:fixed;

    top:30%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

 

}

 

#max-min:target{

    height:55%;

    width:55%;

    top:25%;

    left:25%;

    background-color:rgb(199, 252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#lookup{

    height:0;

    width:0;

    position:fixed;

    top:30%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

 

}

 

#lookup:target{

    height:65%;

    width:65%;

    top:25%;

    left:25%;

    background-color:rgb(199, 252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#filter{

    height:0;

    width:0;

    position:fixed;

    top:30%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

 

}

 

#filter:target{

    height:45%;

    width:45%;

    top:25%;

    left:25%;

    background-color:rgb(199, 252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#index{

    height:0;

    width:0;

    position:fixed;

    top:30%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

 

}

 

#index:target{

    height:40%;

    width:45%;

    top:25%;

    left:25%;

    background-color:rgb(199, 252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#match{

    height:0;

    width:0;

    position:fixed;

    top:30%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

 

}

 

#match:target{

    height:35%;

    width:40%;

    top:25%;

    left:25%;

    background-color:rgb(199, 252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#row-col{

    height:0;

    width:0;

    position:fixed;

    top:30%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

 

}

 

#row-col:target{

    height:40%;

    width:50%;

    top:25%;

    left:25%;

    background-color:rgb(199, 252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#boolean{

    height:0;

    width:0;

    position:fixed;

    top:30%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

 

}

 

#boolean:target{

    height:40%;

    width:40%;

    top:25%;

    left:25%;

    background-color:rgb(199, 252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#trim-clean{

    height:0;

    width:0;

    position:fixed;

    top:30%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

 

}

 

#trim-clean:target{

    height:40%;

    width:60%;

    top:25%;

    left:25%;

    background-color:rgb(199, 252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#left-right{

    height:0;

    width:0;

    position:fixed;

    top:30%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

 

}

 

#left-right:target{

    height:55%;

    width:55%;

    top:25%;

    left:25%;

    background-color:rgb(199, 252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#find-search{

    height:0;

    width:0;

    position:fixed;

    top:30%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

 

}

 

#find-search:target{

    height:60%;

    width:65%;

    top:25%;

    left:25%;

    background-color:rgb(199, 252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#eomonth{

    height:0;

    width:0;

    position:fixed;

    top:30%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

 

}

 

#eomonth:target{

    height:35%;

    width:40%;

    top:25%;

    left:25%;

    background-color:rgb(199, 252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#concat{

    height:0;

    width:0;

    position:fixed;

    top:30%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

 

}

 

#concat:target{

    height:45%;

    width:45%;

    top:25%;

    left:25%;

    background-color:rgb(199, 252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#text{

    height:0;

    width:0;

    position:fixed;

    top:30%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

 

}

 

#text:target{

    height:50%;

    width:50%;

    top:25%;

    left:25%;

    background-color:rgb(199, 252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

 

#mid{

    height:0;

    width:0;

    position:fixed;

    top:30%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

 

}

 

#mid:target{

    height:40%;

    width:40%;

    top:25%;

    left:25%;

    background-color:rgb(199, 252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

 

#exact{

    height:0;

    width:0;

    position:fixed;

    top:30%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

 

}

 

#exact:target{

    height:30%;

    width:40%;

    top:25%;

    left:25%;

    background-color:rgb(199, 252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

 

#networkdays{

    height:0;

    width:0;

    position:fixed;

    top:30%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

 

}

 

#networkdays:target{

    height:40%;

    width:65%;

    top:25%;

    left:25%;

    background-color:rgb(199, 252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}
@media only screen and (max-width: 1000px) {
    #navbarNav ul {
      font-size: 0.8em;
       
    }
    #div2{
        overflow: scroll;
    }
    .mar1{
        margin-left: -3%;
    }
    .mar2{
        margin-left: -5%;
    }
}
@media only screen and (max-width: 800px) {
    #navbarNav ul {
      font-size: 0.5em;
       
    }
    #div2{
        overflow: scroll;
    }
    .mar1{
        margin-left: -3%;
    }
    .mar2{
        margin-left: -5%;
    }
}
@media only screen and (max-width: 730px) {
    #navbarNav ul {
      font-size: 0.5em;
       
    }
    #div2{
        overflow: scroll;
    }
    .mar1{
        margin-left: -3%;
    }
    .mar2{
        margin-left: -5%;
    }
}
.p1{

    color:yellow;
font-size: 20px;
}
.def{
    color:blue;
    font-weight: 600;
    font-size: 13px;
}
.p{
    font-size: 15px;
    color:rgb(205, 5, 5);
    font-weight: 500;
}
.scut{
    color:rgb(2, 89, 2);
    font-size: 15px;
    font-weight: 600;
}
.shortcut{
    color:red;
    font-size: 15px;
    font-weight: 600;
}
.sh{

color:navy;
}

.ol li{
   color:blueviolet;
   font-weight: 600;
}

#table{

    height:0;

    width:0;

    position:fixed;

    top: 15%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

}

 

#table:target{

    height:55%;

    width:55%;

    top:25%;

    left:25%;

    background-color:rgb(199,252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#pivot{

    height:0;

    width:0;

    position:fixed;

    top: 15%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

}

 

#pivot:target{

    height:60%;

    width:60%;

    top:25%;

    left:25%;

    background-color:rgb(199,252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#charts{

    height:0;

    width:0;

    position:fixed;

    top: 15%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

}

 

#charts:target{

    height:55%;

    width:55%;

    top:25%;

    left:25%;

    background-color:rgb(199,252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#slicer{

    height:0;

    width:0;

    position:fixed;

    top: 15%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

}

 

#slicer:target{

    height:60%;

    width:60%;

    top:25%;

    left:25%;

    background-color:rgb(199,252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#condition{

    height:0;

    width:0;

    position:fixed;

    top: 15%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

}

 

#condition:target{

    height:50%;

    width:50%;

    top:25%;

    left:25%;

    background-color:rgb(199,252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#datav{

    height:0;

    width:0;

    position:fixed;

    top: 15%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

}

 

#datav:target{

    height:50%;

    width:50%;

    top:25%;

    left:25%;

    background-color:rgb(199,252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#dupr{

    height:0;

    width:0;

    position:fixed;

    top: 15%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

}

 

#dupr:target{

    height:50%;

    width:50%;

    top:25%;

    left:25%;

    background-color:rgb(199,252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#freezp{

    height:0;

    width:0;

    position:fixed;

    top: 15%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

}

 

#freezp:target{

    height:60%;

    width:60%;

    top:25%;

    left:25%;

    background-color:rgb(199,252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#grp_ugrp{

    height:0;

    width:0;

    position:fixed;

    top: 15%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

}

 

#grp_ugrp:target{

    height:60%;

    width:60%;

    top:25%;

    left:25%;

    background-color:rgb(199,252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}

#protsheet{

    height:0;

    width:0;

    position:fixed;

    top: 15%;

    left:5%;

    overflow:hidden;

    transition: all 0.5s ease-in-out;

}

 

#protsheet:target{

    height:55%;

    width:60%;

    top:25%;

    left:25%;

    background-color:rgb(199,252, 120);

    border:2px solid salmon;

    border-radius:3%;

    box-shadow: 1px 1px 10px 2px rgb(248, 70, 248);

}
